.custom-navbar {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 20px;
}

.navbar-brand {
  font-weight: bold;
  color: #212529;
  margin-right: 0px;
  font-size: 1.8rem;
}

.nav-container {
  border-radius: 30px;
  padding: 5px;
  display: inline-flex;
}

.navbar-nav .nav-item:first-child .nav-link {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.navbar-nav .nav-item:last-child .nav-link {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nav-link {
  padding: 8px 16px !important;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link.active {
  background-color: #212529;
  color: white !important;
}

@media (max-width: 991px) {
  .nav-container {
    border: none;
    padding: 0;
  }

}
.custom-navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
  }
  
  .navbar-nav .nav-item {
    margin: 0 5px;
  }
  
  .nav-link {
    border-radius: 30px;
    padding: 8px 16px !important;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover, .nav-link.active {
    background-color: #212529;
    color: white !important;
  }