.App {
  text-align: center;
}

.App-header {
  background-color: #023D54;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  color: #8BAD79;
  margin-top: 20px; /* Add margin to the top */
}

.content {
  width: 80%;
  max-width: 1200px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.card-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-wrapper h2, .card-wrapper p, .card h2, .card p {
  margin-top: 0;
  color: white;
  background: transparent;
  font-size: 1.1rem; /* Adjust font size */
  line-height: 1.2; /* Adjust line height */
  padding: 0 10px; /* Adjust padding */
}

.card-wrapper h2, .card h2 {
  font-weight: bold; /* Make titles bold */
}

.card {
  background-color: transparent; /* Match the card-wrapper background color */
  border-radius: 50%; /* Ensure the Card has the same border-radius */
  border-color: transparent;
}

.summary-container {
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent dark background */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 100px;
  width: 100%; /* Increase the width of the summary container */
  text-align: center;
}

.summary-container .Card {
  width: 100%;
  text-align: center;
}

.score-container {
  margin-top: 40px;
  text-align: center;
}

.speedometer {
  position: relative;
  display: inline-block;
}

.speedometer svg {
  display: block;
  margin: 0 auto;
}

.score-value {
  position: absolute;
  width: 100%;
  top: 70%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.comparison-text {
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card-wrapper {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .summary-container {
    margin-top: 20px;
  }

  .speedometer svg {
    width: 100%;
  }
}
