.home-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #023D54;
    color: #ffffff;
}

.home-container h1 {
    color: #8BAD79; /* New color for the h1 element */
    text-align: center; /* Optional: Center align the text */
    font-size: 2.5rem; /* Optional: Set the font size */
    margin-bottom: 20px; /* Optional: Add some margin below the h1 */
  }

.toggle-container {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    margin-bottom: 20px;
    justify-content: center;
}

.toggle-container button {
    background-color: #8BAD79; /* Set the background color of the button */
    color: #ffffff; /* Set the text color of the button */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 1rem; /* Set the font size */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Add transition for background color */
    width: 200px;
    justify-content: center;
  }
  
  .toggle-container button:hover {
    background-color: #7A9A6A; /* Change background color on hover */
  }

.charts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chart-wrapper {
    flex: 1;
    margin: 10px;
    height: 400px; /* Adjust height as needed */
}

.additional-info {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-box {
    background-color: #004080;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 20px); /* Flex-grow, flex-shrink, and flex-basis */
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better appearance */
}

.info-box img {
    width: 100%; /* Make the image take up the full width of the box */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Match the border radius of the info-box */
}

.info-box h2 {
    margin-top: 0;
    font-size: 1.3em;
    color: #8BAD79; /* Optional: Change color for better contrast */
  }

.info-box p {
    margin-bottom: 0;
}
