.home-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #001f3f;
    color: #ffffff;
}

.toggle-container {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    margin-bottom: 20px;
}

.toggle-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Ensure the width is auto */
}

.charts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chart-wrapper {
    flex: 1;
    margin: 10px;
    height: 400px; /* Adjust height as needed */
}

.additional-info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-box {
    background-color: #004080;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin: 10px 0;
    text-align: center;
}

.info-box h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.info-box p {
    margin-bottom: 0;
}
