:root {
    --primary-color: #004d40; /* Deep teal */
    --secondary-color: #26a69a; /* Lighter teal */
    --accent-color: #ffab40; /* Amber */
    --background-color: #023D54; /* Very light teal */
    --text-color: #ffffff; /* White */
    --button-color: #00897b; /* Teal */
    --button-hover-color: #26a69a; /* Lighter teal */
    --button-danger: #7A9A6A; /* Red for download */
    --button-safe: #7A9A6A; /* Green for preview */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

.reports-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.reports-container h1 {
    color: #8BAD79; /* New color for the h1 element */
    text-align: center; /* Optional: Center align the text */
    font-size: 2.5rem; /* Optional: Set the font size */
    margin-bottom: 20px; /* Optional: Add some margin below the h1 */
}

.search-bar {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.report-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
}

.download-button {
    background-color: var(--button-danger);
}

.preview-button {
    background-color: var(--button-safe);
}

button:hover {
    opacity: 0.8;
}

.contract-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
}

.contract-container h2 {
    color: #8BAD79;
    font-size: 2rem;
    margin-bottom: 20px;
}
